<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login do Administrador</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Login do Administrador</h1>
            <form th:action="@{/admin/login}" method="post" class="card p-4">
                <div class="mb-3">
                    <label for="username" class="form-label">Usuário:</label>
                    <input type="text" id="username" name="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha:</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                <a href="/index" class="btn btn-secondary btn-block mt-3">Voltar</a>
            </form>
            <p th:if="${error}" class="text-danger mt-3" th:text="${error}"></p>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.7.1.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
